@charset "UTF-8";

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}



main p {
    font-family: var(--fonte2);
    font-size: 2em;
}

section {
    padding: 115px 0px 115px 40px;
    box-shadow: ;
}

section.imagem{
    color: white;
}

section#img1 {
    background:white url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

section#img2 {
    background:white url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}